#anuncios{
  position: relative;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width:auto;
}

#myCarousel{
  padding: 0;
  margin: 0;
  width:auto;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}

nav{
  margin-top: 0px;
}

#indice{
  padding: 10px 0;
}
